.body
.container
  .row
    .user-image.col-sm-2.col-md-2
      %p
        %strong
        =image_tag current_user.image.small.url
    .form-wrapper.user_info.col-sm-4.col-md-4
      %blockquote
        %p=current_user.name
        %small
          %p=current_user.email
          .user_profile_edit_btn
            %a.btn.btn-info{:href => edit_user_registration_path(current_user)} Edit Profile
