.field {
  margin: 10px;
}

p {
  font-size: 12px;
  font-weight: bold;

}

.actions {
  position: relative;
  top: 5px;
}

@import "partials/_form-wrapper";
.login {
  margin: 30px auto;
  width: 425px;
  padding-bottom: 35px;
}

.links {
  position: relative;
  top: 5px;
}
