.body
  .section-title Friend Requests
  .form-wrapper.friend-index
    - if @incoming.any?
      #midContent
        - @incoming.each do |fr|
          %ul.friend-request
            .friend-image
              = image_tag fr.user.image.thumb.url
            .friend-name
              = fr.user.name
            .buttons
              %button#accept= link_to "Accept", friend_request_path(id=fr.id), method: :patch
              %button#remove= link_to "Decline", friend_request_path(id=fr.id), method: :delete
    - else
      %p You don't have any friend requests
