.form-title {
  color: #7c795d;
  font-family: 'Trocchi', serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

body {
  background: #eee;
  font: 12px Lucida sans, Arial, Helvetica, sans-serif;
  color: #333;
  text-align: center;
}

@import 'partials/_form-wrapper';

.form-wrapper {
  margin: 100px auto;
  width: 425px;

  #search {
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    float: left;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 30px;
    padding: 10px;
    width: 400px;

    &:focus {
      border-color: #aaa;
      -webkit-box-shadow: 0 1px 1px #bbb inset;
      -moz-box-shadow: 0 1px 1px #bbb inset;
      box-shadow: 0 1px 1px #bbb inset;
      outline: 0;
    }

    &:-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #999;
      font-weight: normal;
    }
  }
}
