@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

// Defaults
@import '_defaults';
@import '_misc';
@import '_print';

// Icons
@import 'fonts/_fontawesome';

// Partials
@import 'partials/_header';
@import 'partials/_messagesBox';
@import 'partials/_userList';


// Components
@import 'components/_replyBox';
@import 'components/_userSearchBox';
@import 'components/_userIndex';

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .page-title, .field, .links {
   margin-left: 80px;
 }

 .actions {
   margin-top: 10px;
   margin-left: 80px;
 }
